---
layout: base.njk
---

{% from "./symbol.njk" import getCurrentSymbol %}

<div class="page-wrap">
  <div class="reading-container">
    <h1>
      <span class="material-symbols-outlined">{{ getCurrentSymbol(page.url, meta) }}</span>
      {{ title }}
    </h1>

    {% if youtubeVideoId %}
      <div class="video mb2">
        <iframe src="https://www.youtube.com/embed/{{youtubeVideoId}}" allowfullscreen></iframe>
      </div>
    {% endif %}

    {{ bio | safe }}
  </div>
</div>