---
layout: base.njk
---

{% from "./symbol.njk" import getCurrentSymbol %}

<div class="page-wrap">
  <div class="reading-container">
    <h1>
      <span class="material-symbols-outlined">{{ getCurrentSymbol(page.url, meta) }}</span>
      {{ title }}
    </h1>

    {{ bio | safe }}
  </div>
</div>