---
layout: base.njk
---

<div class="ad">
  <img src="/img/title.svg" alt="POLYOP" />
  <h1>Elektrop: 07.03.2025</h1>

  <div class="signup">
    <section>
      <h3>Get Notified</h3>
      {% include "./signup.njk" %}
    </section>
    <section>
      Or
      <a href="https://www.youtube.com/@polyopuk4179?sub_confirmation=1"
        >Subscribe on Youtube →</a
      >
    </section>
  </div>
</div>

<video
  class="video-bg"
  src="https://storage.googleapis.com/dailydoodles/doodles/FA4103E5EEB8784161D979EE1FDF1E96_video_dashinit.mp4"
  autoplay
  muted
  loop
></video>
<div class="halftone"></div>
