---
layout: base.njk
---

{% set currentSymbol = "" %} {% for item in collections.navigation %} {% if
item.data.url == page.url %} {% set currentSymbol = item.data.symbol %} {% endif
%} {% endfor %}

<div class="page-wrap">
  <div class="reading-container">
    <h1>
      <span class="material-symbols-outlined">{{ currentSymbol }}</span>
      {{ title }}
    </h1>

    <h3>Get in touch</h3>

    <ul class="link-list">
      {% for link in collections.links %}
      <li>
        <span class="material-symbols-outlined">{{ link.data.symbol }}</span>
        <a href="{{ link.data.url }}">
          {{ link.data.label }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
