---
layout: base.njk
---

{% from "./symbol.njk" import getCurrentSymbol %}

<div class="page-wrap">
  <div class="reading-container">
    <h1>
      <span class="material-symbols-outlined">{{ getCurrentSymbol(page.url, meta) }}</span>
      {{ title }}
    </h1>
  </div>
  <div class='release-list'>
    {% for release in collections.releases | reverse %}
      <div class='release-item'>
        <div class="release-thumb shimmer">
          <img src="{{release.data.image}}" alt="{{release.data.title}}" class='release-thumb'>
        </div>
        <div class="release-info">
          <h3>{{release.data.title}}</h3>
          <iframe src="https://bandcamp.com/EmbeddedPlayer/{{release.data.type}}={{release.data.bandcampid}}/size=small/bgcol=111111/linkcol=ffffff/artwork=none/transparent=true/" seamless></iframe>
        </div>
      </div>
    {% endfor %}
  </div>

</div>