<nav>
  {% for item in collections.navigation | sort(attribute='data.order') %}
  <a
    href="{{ item.data.url }}"
    class="{{ 'current' if page.url == item.data.url }} glitch-nav-item"
    ><span class="material-symbols-outlined icon">{{ item.data.symbol }}</span>
    {{ item.data.label }}
  </a>

  {% endfor %}
</nav>
