<nav>
  {% for item in collections.navigation %}
  <a
    href="{{ item.data.url }}"
    class="{{ 'current' if page.url == item.data.url }}"
    ><span class="material-symbols-outlined">{{ item.data.symbol }}</span>
    {{ item.data.label }}
  </a>

  {% endfor %}
</nav>
