<form
  am-Signup
  action="//polyop.us14.list-manage.com/subscribe/post?u=8cf6a5e22156a195530b6aabc&amp;id=8077360d4b"
  method="post"
  id="mc-embedded-subscribe-form"
  name="mc-embedded-subscribe-form"
  class="validate"
  target="_blank"
>
  <input
    am-Signup-Input
    type="email"
    value=""
    name="EMAIL"
    required
    placeholder="youremail@address.com"
  />
  <div style="position: absolute; left: -5000px" aria-hidden="true">
    <input
      type="text"
      name="b_8cf6a5e22156a195530b6aabc_8077360d4b"
      tabindex="-1"
      value=""
    />
  </div>
  <input
    am-Signup-Button
    type="submit"
    value="Subscribe"
    name="subscribe"
    id="mc-embedded-subscribe"
  />
</form>
