:root {
  --navHeight: 2.8rem;

  --fadedBorder: 1px solid rgba(255, 255, 255, 0.2);

  @media (width >= 800px) {
    --navHeight: 3rem;
  }
}

body {
  font-family: sans-serif;
  background: black;
  color: white;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

input {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;
}

p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.2rem;

  @media (width >= 800px) {
    font-size: 1.6rem;
  }
}

input[type="submit"] {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: 0.2s;
}

input[type="submit"]:hover {
  background: black;
}

h1 {
  font-style: italic;
  font-size: 2.2rem;
  letter-spacing: 0.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (width >= 800px) {
    font-size: 3rem;
  }
}

a {
  color: white;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 0;
  letter-spacing: 0.1rem;
  margin: 0 0.25em;

  &:hover {
    background: white;
    color: black;
  }
}

.ad {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding-bottom: var(--navHeight);

  img {
    width: 90%;
  }
}

.signup {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

nav {
  border-top: var(--fadedBorder);
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.8);
  height: var(--navHeight);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: black;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;

  &.transparent-nav {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: none;
  }

  a {
    font-weight: 100;
    text-align: center;
    height: 100%;
    padding: 0 0.5rem;
    margin: 0;
    border: 0;
    font-size: 0.8rem;
    opacity: 0.5;
    transition: 0.4s;
    letter-spacing: 0.1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .icon {
      font-size: 1.3em;
    }

    &.current,
    &:hover {
      opacity: 1;
      color: white;
      background: transparent;

      .icon {
        font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
      }
    }

    &.current {
      .nav-label {
        font-weight: 500;
        letter-spacing: 0.08em;
      }
    }
  }

  @media (width >= 800px) {
    a {
      font-size: 1rem;
      padding: 0.8rem 2rem;

      &.current {
        .nav-label {
          font-weight: 500;
          letter-spacing: 0.06em;
        }
      }
    }
  }
}

.release-list {
  max-width: 60rem;
  margin: 0 auto;
}

.release-item {
  border-bottom: 1px solid #222;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  iframe {
    border: 0;
    height: 42px;
    width: 100%;
    margin-top: 0.5rem;
  }

  @media (width >= 800px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 2rem;
    grid-template-areas:
      "thumb header"
      "thumb info";
    align-items: start;
    grid-auto-flow: row;
  }
}

.release-header {
  margin-bottom: 1rem;
  grid-area: header;
}

.release-details {
  font-size: 1rem;
  opacity: 0.5;
  margin-top: -1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.release-tags {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;

  li {
    margin: 0;
    background: #333;
    color: white;
    padding: 0 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0.4rem;
    font-weight: 600;
  }
}

.release-thumb {
  flex-basis: 50%;
  line-height: 0;
  margin-bottom: 1rem;
  grid-area: thumb;
}

.release-info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  grid-area: info;
}

.release-links {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    list-style: none;

    a {
      font-weight: 600;
    }

    span {
      font-size: 1.4em;
    }
  }
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  filter: blur(20px);
  z-index: -1;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}

input:focus {
  outline: none;
  background: black;
}

.link-list {
  li {
    list-style: none;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;

    @media (width >= 800px) {
      font-size: 1.5rem;
    }
  }
}

.halftone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  --dotSize: 0.1rem;
  --bgSize: 0.3rem;
  --bgPosition: calc(var(--bgSize) / 2);

  background-image: radial-gradient(
      circle at center,
      black var(--dotSize),
      transparent 0
    ),
    radial-gradient(circle at center, black var(--dotSize), transparent 0);
  background-size: var(--bgSize) var(--bgSize);
  background-position: 0 0, var(--bgPosition) var(--bgPosition);
}

@media (width >= 800px) {
  .ad img {
    width: 80%;
  }

  .signup {
    h3 {
      font-size: 1.5rem;
    }

    justify-content: center;
    align-items: center;

    form {
      flex-direction: row;
    }

    input[type="email"] {
      width: 20rem;
    }
  }
}
