---
layout: bio.njk
title: Bio
youtubeVideoId: Vni0ze8cDCk
bio: <p>Polyop are an acid-rave audiovisual group from London, co-founded by
  Jack Driscoll and visual artist Alex Kempton, and later joined by Harry Orso,
  Finlay Macaulay and Larry Reeve. Since 2016 they’ve made their name performing
  their tripped out live show in the UK and across Europe.</p><p>The show takes
  the audience on a trip through the polyhedral universe, featuring a giant
  shape-shifting demi-God and a nomadic alien hive tribe, who harvest potent
  psychedelic crystals from a nearby asteroid belt.&nbsp;</p><p>Taking influence
  from early 3D graphics and 90’s rave culture, the music is performed live on
  hardware samplers and synths. The group experiments with new technologies,
  including <a href="https://github.com/nudibranchrecords/hedron">Hedron</a>,
  the open-source software designed for their shows, now used by artists around
  the world.</p><p>Polyop have traveled across Europe, as well as taking their
  show to clubs in London such as The Cause, Five Miles and Rich Mix. They have
  released on <a href="http://www.nudibranchrecords.uk">Nudibranch Records</a>,
  Tru Thoughts and received DJ support and radio play from Worldwide FM, NTS,
  BBC Radio One and 6 Music. This year, they released remixes to Damos Room’s
  Commencement // Mineral Blend EP, played on BBC 6 Music.</p>
---
