---
layout: about.njk
title: Bio
bio: >
  <p>Polyop are an audiovisual group from London, formed by electronic music
  artist Jack Driscoll and visual artist 

  Alex Kempton in 2016, and later including musicians Harry Orso and Finlay
  Macaulay. For the past two years they’ve 

  been performing their live show, <i>The Polyhedral Plane</i>, around the UK
  and Europe.</p>


  <p>The show follows a giant shape-shifting demigod through the universe after
  he wakes up on a planet from a deep sleep. 

  He comes across a tribe of nomadic aliens who are harvesting a potent
  psychoactive crystal from a nearby asteroid field. 

  From growing up in the 90's, Polyop take influence from early 3D graphics,
  electro, breakbeat, techno and rave culture. 

  The music and visuals from the show are performed on hardware and their custom
  visual software Hedron.</p>


  <p>The group has a history of experimenting with new technologies, be it
  through generative music videos that run in the 

  browser or strange VR worlds, they’re constantly playing with the idea of what
  an audiovisual experience can be. This 

  approach extends to <a
  href="https://github.com/nudibranchrecords/hedron">Hedron</a>, the visual tool
  initially designed and built by Polyop for their own shows, but now is 

  open source and used by many artists around the world.</p>


  <p>2019 saw Polyop break into Europe with performances in Berlin and
  Amsterdam, as well as taking their show to acclaimed clubs in London such as
  The Cause, 

  Five Miles and The Pickle Factory. They have released on <a
  href="http://nudibranchrecords.uk/">Nudibranch Records</a>, Tru Thoughts and
  received support and radio play from BBC Introducing, 

  Worldwide FM, Roy Davis Jr and Posthuman.</p>
---
