---
layout: home.njk
title: Polyop - Elektrop video releases on 07.02.2025
bio: <p>This should be a <strong>small intro</strong> about the band. We can
  have <em>formatting</em>!</p>
youtubeid: Vni0ze8cDCk
---
